@keyframes c-glowing-blue {
  0% {
    box-shadow: 0 0 5px var(--color-blue-l), 0 0 5px var(--color-blue-l), 0 0 15px var(--color-blue-l), 0 0 20px var(--color-blue-principal), 0 0 10px var(--color-blue-principal), 0 0 10px var(--color-blue-principal), 0 0 10px var(--color-blue-principal), 0 0 10px var(--color-blue-principal)
  }

  to {
    box-shadow: 0 0 2.5px var(--color-blue-l), 0 0 2.5px var(--color-blue-l), 0 0 7.5px var(--color-blue-l), 0 0 10px var(--color-blue-principal), 0 0 5px var(--color-blue-principal), 0 0 5px var(--color-blue-principal), 0 0 5px var(--color-blue-principal), 0 0 2px var(--color-blue-principal)
  }
}

@keyframes c-glowing-red {
  0% {
    box-shadow: 0 0 5px var(--color-brown-l), 0 0 5px var(--color-brown-l), 0 0 15px var(--color-brown-l), 0 0 20px var(--color-red-principal), 0 0 10px var(--color-red-principal), 0 0 10px var(--color-red-principal), 0 0 10px var(--color-red-principal), 0 0 10px var(--color-red-principal)
  }

  to {
    box-shadow: 0 0 2.5px var(--color-brown-l), 0 0 2.5px var(--color-brown-l), 0 0 7.5px var(--color-brown-l), 0 0 10px var(--color-red-principal), 0 0 5px var(--color-red-principal), 0 0 5px var(--color-red-principal), 0 0 5px var(--color-red-principal), 0 0 2px var(--color-red-principal)
  }
}

@keyframes text-glowing-blue {
  0% {
    text-shadow: 0 0 1px var(--color-default), 0 0 1px var(--color-default), 0 0 1px var(--color-default), 0 0 1px var(--color-blue-m), 0 0 5px var(--color-blue-m), 0 0 2px var(--color-blue-m), 0 0 10px var(--color-blue-m), 0 0 10px var(--color-blue-m)
  }

  to {
    text-shadow: 0 0 .5px var(--color-default), 0 0 .5px var(--color-default), 0 0 .5px var(--color-default), 0 0 .5px var(--color-blue-m), 0 0 5px var(--color-blue-m), 0 0 .5px var(--color-blue-m), 0 0 5px var(--color-blue-m), 0 0 2px var(--color-blue-m)
  }
}

@keyframes text-glowing-red {
  0% {
    text-shadow: 0 0 1px var(--color-brown-l), 0 0 1px var(--color-brown-l), 0 0 1px var(--color-brown-l), 0 0 1px var(--color-red-l), 0 0 5px var(--color-red-l), 0 0 2px var(--color-red-l), 0 0 10px var(--color-red-l), 0 0 10px var(--color-red-l)
  }

  to {
    text-shadow: 0 0 .5px var(--color-brown-l), 0 0 .5px var(--color-brown-l), 0 0 .5px var(--color-brown-l), 0 0 .5px var(--color-red-l), 0 0 5px var(--color-red-l), 0 0 .5px var(--color-red-l), 0 0 5px var(--color-red-l), 0 0 2px var(--color-red-l)
  }
}